// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
// Source mixin
html, body{
    height:100%;
}
#wrap-body{
    background-color:$gray-100;
    height:100%;
}
.album{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:0 20%;
    padding-top:15px;
    margin:0;
}
.list-group{
    background:$white;
}
#dropdownMenuButton{
    margin-left: 40%;
}
.dropdown-menu{
    right:0;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    width:100%;
    height:100%;

}
.banner{
    height:400px;
    margin-bottom: 15px;
}
.banner-body{
    height: 75px;
    font-size: 1.5rem;
    margin-bottom: 15px;
    overflow: hidden;
}
.contents{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color:$white;
    border-radius: 3px;
    overflow: hidden;

    width:300px;
    height:400px;
    margin-bottom: 15px;
    margin-left: 7px;
}
.rounded{
    margin-bottom: 5px;
    width:100%;
    height:60%;
}
.title-division{
    margin:0 5%;
}
.contents-title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin:0 5%;
}
.contents-body{
    height:20%;
    overflow: hidden;
    margin-bottom: 5px;
    padding:5px;
    margin:0 5%;
}
.contents-date{
    font-size:0.8em;
    color:$white;
}
.nav-btns{
    padding:7px 0;
    width: 20%;
}
.btn-group{
    background-color: $blue;
}
#contents-buttons{
    padding:7px 3%;
    display:flex;
    justify-content:space-between;
    align-items: center;
    & > div:first-child {
        display: flex;
        justify-content:flex-start
    }
}
.logoutButton{
    margin-left:40%;
    margin-bottom:0;
    position: relative;
    flex: 1 1 auto;
    & > button{
        width:100%;
    }
}
.signUp{
    margin:10vh auto;
    width:560px;
}
.re_passwd{
    display: flex;
    justify-content: space-between;
}
#not-same-pw{
    color:$red-500;
    font-weight: bold;
}
#check-nickname{
    margin-top: 0.4rem;
    background-color:$green-500;
    border-color:$green-500;
    color:$white;
}
.wrap-form{
    margin:3em auto;
    width:960px;
}
.form-control{
    resize:none;
}
#floatingTextarea2{
    margin-bottom: 1em;
}
#writting-form{
    display: flex;
    flex-direction: column;
}