// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
// Source mixin
html, body{
    height:100%;
}
.album{
    background:$gray-100;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:0 20%;
    padding-top:15px;
    margin:0;
}
.list-group{
    background:$white;
}
#dropdownMenuButton{
    margin-left: 40%;
}
.dropdown-menu{
    right:0;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    width:100%;
    height:100%;

}
.banner{
    height:400px;
    margin-bottom: 15px;
}
.banner-body{
    height: 75px;
    font-size: 1.5rem;
    margin-bottom: 15px;
    overflow: hidden;
}
.contents{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background:$white;
    border-radius: 3px;

    width:300px;
    height:400px;
    margin-bottom: 15px;
    margin-left: 7px;
}
.rounded{
    margin-bottom: 5px;
    width:100%;
    height:60%;
}
.contents-body{
    height:20%;
    overflow: hidden;
    margin-bottom: 5px;
    padding:5px;
}
.btn-group{
    padding:7px;
    width:20%;
}
.logoutButton{
    margin-left:40%;
    margin-bottom:0;
    position: relative;
    flex: 1 1 auto;
    & > button{
        width:100%;
    }
}
.signUp{
    margin:10vh auto;
    width:560px;
}
.re_passwd{
    display: flex;
    justify-content: space-between;
}
#not-same-pw{
    color:$red-500;
    font-weight: bold;
}
#check-nickname{
    margin-top: 0.4rem;
    background-color:$green-500;
    border-color:$green-500;
    color:$white;
}